@import "../../styles/var.scss";

.category {
    width: 80vw;
    margin-bottom: 10vh;

    .titleContainer {
        padding: .5rem 3rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        background-color: white;
        color: $primary-color;

        .btnAdd {
            height: 3rem;
            width: 3rem;

            display: flex;
            align-items: center;
            justify-content: center;

            color: white;
            background-color: $primary-color;
            
            border-radius: 50%;
            cursor: pointer;
            
            > span {
              font-size: 2.5rem;
              font-weight: 800;
            }
          }
    }

    .categoryItems {
      padding-right: 3rem;
    }
}