@import "var.scss";

.ICO {
    padding: 2vh 0;

    h1 {
        font-size: x-large;
        font-weight: 600;
    }

    .total {
        width: 10rem;

        padding: 1.2rem 2.5rem 1.2rem 2rem;

        background-color: $ortec-color;

        border-radius: 10%;

        display: flex;
        align-items: center;

        p {
            color: $background-color;
            
            font-size: x-large;
            font-weight: 700;
        }
    }
}