@import "/src/styles/var.scss";

.item {
    width: 100%;
    margin-top: 1rem;
    margin-right: 3rem;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    > input, > select {
        height: 1rem;

        background-color: $background-color;
        color: $text-color;

        padding: 0.5rem;
        border: 1px solid $gray-light;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

        &:focus {
            outline: none;
            border-color: $text-color;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        }

        &[readOnly] {
            background-color: $gray-light;
        }
    }

    > select {
        height: 2rem;
        padding: 0 .5rem;
    }

    #label, #fe {
        width: 20%;
    }

    #qty {
        width: 5%;
    }

    #feValue, #unit, #total {
        width: 10%;
    }

    .btnRemove {
        height: 2rem;
        width: 2rem;

        font-size: 1rem;
        font-weight: 800;

        border-radius: 50%;

        cursor: pointer;

        border: 1px solid #ff0000;
        background-color: #ff0000;
        color: white;

        &:hover {
            background-color: #cc0000;
        }
    }
}